<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Noise−free Search</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <h3>クエリ</h3>
            <input v-model="input_query" v-on:keyup.enter="search">
            <button id="button_search" v-on:click="search">{{search_button_name}}</button>

            <h3>除外リスト</h3>
            <p>{{search_query}}</p>
            <h4>ドメイン指定</h4>
            <block-list
                v-for="site in sites"
                v-bind:site="site"
            ></block-list>
            <h4>ワード指定</h4>
            <block-words
            v-for="word in block_words"
            v-bind:word="word"
            ></block-words>
            <h4>ファイル形式指定</h4>
            <filetype-list
                v-for="ft in filetypes"
                v-bind:filetype="ft"
            ></filetype-list>
        </div>
    
        <!-- development version, includes helpful console warnings -->
       <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
        <script src="bundle.js"></script>
       <!-- <script type="module" src="main.js"></script>-->
        
    </body>
</html>